@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.Hero{
    margin: 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
    font-size: x-large;
    color: blueviolet;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      flex-direction: column;
   
    
    
}
.btnn{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 ;
}
.hero h1 {
  margin: 0;         /* Remove default margin */
  padding: 0;        /* Remove default padding */
  line-height: 1.2;  /* Optional: tighter line spacing */
}
.h2{
  font-size: 62px;

}
p{
  color: blueviolet;
  font-weight: 200;
  font-style: italic;



}

